
.btnFalse{
    width: 196px;
    height: 50px;

    margin-top: 26px;

    justify-content: center;
    align-items: center;
    padding: 14px 28px;

    font: inherit;
    font-size: 18px;
    font-weight: 600;

    border: none;
    cursor: pointer;
    outline: none;

    border-radius: 10.3108px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);

    color: #000000;
    background-color: #EBD8FF;
}
.btnOneCard:hover,
.btnOneCard:focus {
    background-color: #e2c7ff;
}


.btnTrue {
    width: 196px;
    height: 50px;

    margin-top: 26px;

    justify-content: center;
    align-items: center;
    padding: 14px 28px;

    font: inherit;
    font-size: 18px;
    font-weight: 600;

    border: none;
    cursor: pointer;
    outline: none;

    border-radius: 10.3108px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);

    color: #000000;
    background-color: #5CD3A8;
}
.btnManyCards:hover,
.btnManyCards:focus {
    background-color: #3ec594;
}