.card {
    position: relative;
    height: 460px;
    width: 380px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EBD8FF;
    
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;

    background-image: url("../../images/picture.svg"),
        linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
            background-repeat: no-repeat;
            background-size: 308px 168px, cover;
            background-position-x: center;
            background-position-y: 28px, center;
}

.logo {
    position: absolute;
        top: 20px;
        left: 20px;
}

.picture {
    height: 168px;
    width: 308px;
    position: absolute;
        top: 28px;
}

.ellipse {
    position: absolute;
    top: 178px;
    z-index: 99;
}

.avatar {
    position: absolute;
    top: 187px;
    z-index: 77;
    border-radius: 50%;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
}

.rectangle {
    position: absolute;
    top: 214px;
}


.tweets {
    margin-top: 284px;
}

.followers {
    margin-top: 16px;
}

